/* Base Edits */



a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.product__title h1,
.product__title .h1 {
  font-size: calc(var(--font-heading-scale) * 1.8rem);
}


@media only screen and (min-width: 750px) {
  .product__title h1,
  .product__title .h1 {
    font-size: calc(var(--font-heading-scale) * 2.5rem);
  }
}
 
/* Header - Mobile Edits */
  


/* Icons */


.header__icon {
  height: 4.4rem;
  width: 4.4rem;
  padding: 0;
}

.header__icon--cart .icon {
  height: 2rem !important;
width: 2rem !important;
}

.cart-count-bubble {
  position: absolute;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9rem;
  top: 0;
  left: 3rem;
  line-height: 1;
  transition-property: opacity,transform,color,background-color;
  transition-duration: var(--duration-default);
  transition-timing-function: ease;
  }

  .header svg.spinner {
    display: none !important;
  }

/* Product Edits */ 

.product__title {
  margin: 0 !important;
  padding-bottom: 10px;
}

.product-form__quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-form__quantity label {
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
}
    
.product-form__buttons,
.product-form__input {
  max-width: 100% !important;
}

.button--secondary {
  border: none !important;
}

.button--secondary:hover {
  background-color: rgb(var(--color-secondary-button-text));
  color: rgb(var(--color-secondary-button));
}

/* Product - Quantity Input */

.quantity {
  color: #000 !important;
  background-color: #f1f1f1;

}

.quantity:after {

  box-shadow: none;
  background-color: transparent;
}




/* Product - Discount Table Edits */ 

.shopacado-discount-table {
  font-size: 1.4rem;
  text-align: left;
  margin: 0 !important;
  color: #000;
  width: 100%;
  line-height: 2.2rem !important;
}

.shopacado-discount-table tr {
  padding-bottom: 10px;
}

.shopacado-discount-table-block h4 {
  padding: 10px 0 20px 0;
  font-size: 1.8rem !important;
  color: #e74c3c !important;
  margin: 0;
  line-height: 2.5rem;
}
.shopacado-discount-table-block {
  padding: 10px 20px;
  background-color: #f7f0e1 !important;
  border-radius: 8px;
}

.shopacado-discount-table-block strong,
.shopacado-discount-table-block span {
  color: #e74c3c;
}
@media screen and (min-width: 750px) {
  .shopacado-discount-table-block {
    padding: 15px 25px;
  }
  .shopacado-discount-table {
    font-size: 1.5rem;
  }
  .shopacado-discount-table-block h4 {
    font-size: 2rem !important;
  }
}
  
.announcement-bar .h5 {
  font-weight: 400;
}

@media screen and (min-width: 750px) {

  .shopacado-discount-table-block h4 {
    font-size: 2rem;
  }

  .shopacado-discount-table {
    font-size: 1.5rem;
  }
}


@media screen and (max-width: 989px){
  .desktop-search,
  .icon-description {
    display:none !important;
  }

  header .header__icons .header__icon {
    padding: 0 !important;
    width: 3.2rem;
    height: 3.2rem;
  }

  header .header__icons {
    width: auto !important;
  }

  header .cart-count-bubble {
    left: 2rem !important;
  }

}

@media screen and (min-width: 990px){
  .header__search:not(.desktop-search),
  .mobile-search {
    display:none !important;
  }
}

@media screen and (min-width: 990px) {
  .header--top-left, .header--middle-left:not(.header--has-menu) {
    grid-template-areas: 
    'heading icons'
    'navigation navigation';
    grid-template-columns: auto 1fr;
  }
  .header__heading-logo-wrapper {
    padding-right: 30px;
  }
}




slideshow-component {
  padding: 0 !important;
}

.product__info-container .product-form, .product__info-container .icon-with-text {
  margin: 1rem 0 !important;
}

@media screen and (min-width: 750px) {
  .product__info-wrapper {
    padding: 0 0 0 5rem !important;
  }
}

.header-wrapper--border-bottom {
  /* box-shadow: 0 .125rem .5rem rgba(0,0,0,.15)   */
}

.header__menu-item:hover span,
a.header__menu-item:hover,
details[open] > .header__menu-item {
  text-decoration: none !important;
}

.header__menu-item:hover,
.header__menu-item[aria-expanded='true']  {
  background-color: #eaeaea;
  border-radius: 60px;
}

header .header__menu-item {
  font-weight: 700 !important;
  font-size: 1.5rem !important;
}

header .list-menu--inline {
  padding-bottom: 10px !important;
}

header summary.list-menu__item,
header a.list-menu__item {
  padding: 8px 16px !important;
  }
header  summary.list-menu__item {
    margin-right: 5px;
  }

header a.list-menu__item {
    margin-right: -16px;
  }

.mega-menu[open] .mega-menu__content {
  z-index:2;
  background-color: #eaeaea;
}

quantity-input {
  background-color: #f1f1f1 !important;
}




/* Facets */

.facets,
.facets__summary {
  color: #000 !important;
}

.facets__summary-label {
  text-transform: uppercase;
  font-weight: 700;
}

.facets__summary:hover .facets__summary-label {
  text-decoration: none !important;
}
